// These colors are specific to the theme. Do not use in a package!

@very-light-gray: white;
@light-gray: #888888;
@gray: #525559;
@dark-gray: #282a2e;
@very-dark-gray: #3b3e3f;


@cyan: #b1a2f6;
@blue: #00c5b5;
@purple: #08c;
@green: #8ADAF7;
@red: #cd7b7b;
@orange: #a0e4a4;
@light-orange: #ffe6a4;
